<%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>


<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

<h1><center>Welcome to Phoenix</h1>

<div class="container">

    <div class="card-deck mb-3 text-center">

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h2 class="my-0 font-weight-normal">学生</h2>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h2 class="my-0 font-weight-normal">企業</h2>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h2 class="my-0 font-weight-normal">JOB</h2>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h2 class="my-0 font-weight-normal">担当者</h2>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h2 class="my-0 font-weight-normal">売り上げ</h2>
        </div>
      </div>

    </div>

</div>
